<div class="card">
  <div class="card-body" id="form-request">
    <div class="row form-group">
      <div class="col-３">
        <h1 class="text-center">
          <%= t ".plane_form" %>
        </h1>
      </div>
    </div>
    <%= form_for @plane do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="col-sm-5 plane-image">
        <img src=<%= Settings.links.plane_img %> width="90%" class="plane-img">
      </div>
      <div class="col-sm-6">
        <div class="row row-form">
          <%= f.label :code, t(".code"), class: "my-require" %>
          <%= f.text_field :code, class: "form-control", required: true %>
        </div>
        <div class="row row-form">
           <label><%= t ".description" %></label>
           <textarea rows="8" cols="50"></textarea>
        </div>
        <div class="row row-form">
          <label><%= t ".num_of_seats" %></label>
          <input type="number">
        </div>
        <div class="row row-form">
          <label><%= t ".manufacturer" %></label>
          <input type="text">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12 row-flight">
          <h3 class="text-center">
            <%= t ".flights" %>
          </h3 >
        </div>
      </div>
      <%= f.fields_for :flights do |builder| %>
        <%= render "flight_fields", f: builder %>
      <% end %>
      <div class="row row-form btn-add">
        <%= link_to_add_association t(".btn_add"), f, :flights, :class => "btn btn-success" %>
      </div>
      <div class="row row-form">
        <%= f.submit t(".create"), class: "btn btn-primary col-sm-1 ml-auto btn-create" %>
      </div>
    <% end %>
  </div>
</div>
